main {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: #293276;
  flex-wrap: wrap;
}

.main--theme-blog {
  background-color: #ffebcd;
  padding: 15px;
}

.week {
  height: 250px;
  padding: 30px;
  background-color: #2f3352;
  border-bottom: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.week--1 {
  background-image: url("images/html.png");
}

.week--2 {
  background-image: url("images/css.png");
}

.blog__content--media {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.blog__content__image {
  max-width: 90%;
  height: auto;
}

/*text*/

.week__title {
  display: block;
  cursor: pointer;
  padding: 4px;
  margin: auto;
  background-color: #293276;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}

.week__title--sub {
  font-size: 30px;
  font-weight: normal;
}

time {
  font-weight: bold;
  font-size: large;
}

/*responsive*/
@media (min-width: 1000px) {
  main {
    flex-direction: row;
    align-content: flex-start;
  }
  .week {
    min-width: 500px;
    flex: auto;
  }

  .blog__content__image {
    max-width: 50%;
    flex: auto;
  }

  .main--theme-blog {
    padding: 10px 10vw;
  }

  .blog__content--media {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1500px) {
  main {
    flex-wrap: nowrap;
  }

  .week {
    flex: auto;
    padding: 20px;
    height: unset;
    min-width: unset;
    background-position: 5%;
    justify-content: center;
  }

  .week__title {
    flex: none;
    font-size: 1.6vw;
    margin: 10px auto;
  }

  .main--theme-blog {
    padding: 10px 20vw;
  }
}
